{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "Chrome >= 52",
                        "FireFox >= 44",
                        "Safari >= 7",
                        "Explorer 11",
                        "last 4 Edge versions"
                    ]
                },
                "useBuiltIns": "entry"
            }
        ]
    ],
    "ignore": ["node_modules"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-shorthand-properties",
        ["@babel/plugin-transform-computed-properties", {
            "loose": true
          }]
    ]
}